:root {
/* ### Primary  */
  --White : hsl(255, 100%, 100%);
  --PaleBlue: hsl(225, 100%, 94%);
  --BrightBlue: hsl(245, 75%, 52%);
 
/* ### Neutral */
  --VeryPaleBlue: hsl(225, 100%, 98%);
  --DesaturatedBlue: hsl(224, 23%, 55%); 
  --DarkNlue: hsl(223, 47%, 23%);
}
* {
  box-sizing: border-box;
  font-family: 'Red Hat Display',
  sans-serif;
}
body {
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;  
  background-color: var(--PaleBlue);
  min-height: 100vh;
  font-size: 16px;
  display: grid;
  grid-template-areas: "headLeft head headRich"
  "mainLeft main mainRich"
  "footerLeft footer footerRich";
  grid-template-columns: auto 430px auto;  
  grid-template-rows: 8px auto 30px;
  justify-items:center;
  align-items: center;
}
.card {
  grid-area: main;
  justify-self: center;
  align-self: center;
  background-color: var(--White);
  max-width: 430px;
  min-height: 600px;
  overflow: hidden;
  border-radius: 10px;
  height: 700px;
  margin-top: 3rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
  rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-size: auto;
}
.card__avatar {
  width: 100%;
}
.card__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__title {
  margin-top: 3.5rem;
  font-weight: 900;
  font-size: 20px;
  color: var(--DarkNlue);
}
.card__paragraph {
  margin-top: 2.5rem;
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
  color: var(--DesaturatedBlue);
  margin: auto 2rem auto 2rem;
}
.plan {
  margin-top: 2.5rem;
  background-color: #f8f9fe;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
  width: 80%;
}
.plan__icon {
  height: 45px;
}
.plan__info {
  color: var(--DarkNlue);
  margin: 0;
  width: 90%;
  margin-left: 15px;
  text-align: left;
  font-weight: 900;
} 
.plan__info > span {
  display: block;
  color: var(--DesaturatedBlue);
  font-weight: 600;
}
.plan__link {
  cursor: pointer;
  font-weight: 500;
  margin: auto 10px auto 0;
  color: var(--BrightBlue);
}
.card__btn {
  cursor: pointer;
  margin-top: 2.5rem;
  width: 80%;
  background-color: var(--BrightBlue);
  border: none;
  color: var(--White);
  font-weight: bolder;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
  rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.card__link {
  cursor: pointer;
  margin-top: 2.5rem;
  text-decoration: none;
  color: var(--DarkNlue);
}
.attribution {
  grid-area: footer;
  justify-content: end;
  align-items: center;
  margin: 1.5rem auto;
  align-self: center;
  justify-content: end;
  font-size: 11px;
  text-align: center;
}
@media (hover: hover) {
  .card__btn:hover {
    background-color: hsla(245, 75%, 52%, 0.8);
  }

  .plan__link:hover {
    color: hsla(245, 75%, 52%, 0.8);
  }

  .card__link:hover {
    color: hsla(223, 47%, 23%, 0.8);
  }
}
@media screen and (max-width: 390px){
  body {
    background-image: url("../images/pattern-background-mobile.svg");
    display: grid;
    gap: 1.5rem;
    grid-template-areas: "head"
      "main"
      "footer";
    grid-template-columns: auto;
    grid-template-rows: 8px auto 30px;
    justify-items: center;
    align-items: center;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2.75) {
  body {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: "head"
      "main"
      "footer";
    grid-template-columns: auto;
    grid-template-rows: 8px auto 30px;
    justify-items: center;
    align-items: center;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  body {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: "head"
      "main"
      "footer";
    grid-template-columns: auto;
    grid-template-rows: 8px auto 30px;
    justify-items: center;
    align-items: center;
  }
}